# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Laboratory5.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\igri-\Desktop\CSHARP\Laboratory5\Laboratory5\.idea\.idea.Laboratory5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
